<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="./favicon.ico">
    <title>youminmgsama</title>
    <style>
        body {
            background-image: url("https://cdn.jsdelivr.net/gh/youmingsama/PicGo/img2/星奈.jpg");
        }
    </style>
    <link href="../static/css/app.c5d845db.css" rel="preload" as="style">
    <link href="../static/css/chunk-vendors.53794358.css" rel="preload" as="style">
    <link href="../static/js/app.f3f2bb61.js" rel="preload" as="script">
    <link href="../static/js/chunk-vendors.009e1c50.js" rel="preload" as="script">
    <link href="../static/css/chunk-vendors.53794358.css" rel="stylesheet">
    <link href="../static/css/app.c5d845db.css" rel="stylesheet">
</head>

<body><noscript><strong>We're sorry but dsb doesn't work properly without JavaScript enabled. Please enable it to
            continue.</strong></noscript>
    <div id="app"></div>
    <script src="../static/js/chunk-vendors.009e1c50.js"></script>
    <script src="../static/js/app.f3f2bb61.js"></script>
</body>

</html>